* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gentium Book Plus", serif;
}
.bannar {
  background-color: #f1f3f4;
  padding-bottom: 30px;
}

/* Header part start here  */

.bannar-header {
  background-image: url(cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 770px;
  padding-top: 120px;
}
.bannar-head {
  text-align: center;
  padding-top: 90px;
}
.bannar-head .bannar-tag {
  opacity: 1;
  font-size: 70px;
  color: whitesmoke;
  padding-top: 20px;
}
.bannar-head .peragraph {
  opacity: 1;
  color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.donate {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(250, 11, 111);
  border: 1px solid white;
  opacity: 1;
  color: whitesmoke;
  font-weight: 600;
  font-size: 20px;
  width: 140px;
  margin: 0 auto;
  cursor: pointer;
}
.donate:hover {
  background-color: rgb(255, 68, 0);
  font-size: 19px;
  width: 138px;
}

/* Header part end here */

.bannar-name {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}

/* Donat part start here */

.body-part {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  background-color: aliceblue;
  box-shadow: 1px 0px 5px 2px rgb(120, 120, 120);
}
.peragraph2 {
  font-size: 18px;
  opacity: 0.7;
  width: 70%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
}
.list {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}
.list li {
  margin-top: 30px;
  font-size: 24px;
  padding: 30px;
  height: 100px;
  width: 110px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.781);
  box-shadow: 1px 0px 3px 2px rgb(120, 120, 120);
  cursor: pointer;
}
.list li:hover {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid red;
  background-color: rgb(255, 183, 183);
}
#list1 {
  margin-top: 30px;
  border: 1px solid red;
  font-size: 24px;
  padding: 30px;
  background-color: rgb(255, 183, 183);
  box-shadow: 1px 0px 3px 2px rgb(120, 120, 120);
  cursor: pointer;
}
#list1:hover {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid red;
  background-color: rgb(255, 183, 183);
}
.peragraph3 {
  margin-top: 40px;
  font-size: 20px;
  opacity: 0.4;
  margin-bottom: 10px;
}
.line {
  width: 65%;
  margin: 0 auto;
  height: 3px;
  background-color: black;
  margin-top: 10px;
  opacity: 0.5;
  margin-bottom: 30px;
}

/* Donat part end here */

/* Donate Plan Start Here */

.donation-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.donation-heading h1 {
  font-size: 60px;
  padding-bottom: 20px;
}
.donation-heading p {
  font-size: 20px;
  opacity: 0.7;
  width: 50%;
  margin: 0 auto;
}
.donation-body {
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin: 0 auto;
}
.donation-body1 {
  box-shadow: 1px 0px 6px 2px rgb(120, 120, 120);
  margin: 25px;
  padding: 35px 20px;
  height: 350px;
  width: 350px;
  background-color: rgb(203, 255, 203);
}
.donation-body3 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}
.card1 {
  background-color: rgb(254, 203, 203);
}
.card2 {
  background-color: rgb(255, 234, 196);
}
.donation-body3 p {
  font-size: 16px;
  text-align: justify;
}

/* Donation Part end here */

/* News Part Start here */

.helpless {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}
.help-1 {
  width: 50%;
}
.help-1 h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.help-4 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.btn {
  margin-top: 40px;
  border: 1px solid rgb(255, 255, 255);
}
.btn p {
  border-radius: 10px;
  font-size: 20px;
  padding: 18px;
  text-align: center;
  background-color: rgb(250, 11, 111);
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  width: 230px;
}
.btn p:hover {
  background-color: rgb(255, 68, 0);
  font-size: 19px;
  width: 229px;
}
.help-2 {
  width: 50%;
  margin-left: 170px;
}
.img-2 {
  height: 400px;
  width: 450px;
}
.help-3 {
  margin-right: 200px;
}

/* News Part end here */

/* Help Line start here */

.name {
  margin-top: 45px;
  margin-bottom: 20px;
}
.help-Center {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
  padding-left: 35px;
}
.help-line {
  width: 40%;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 50px;
  box-shadow: 1px 0px 6px 2px rgb(120, 120, 120);
  cursor: pointer;
}
.help-line:hover {
  background-color: rgb(58, 58, 58);
  color: whitesmoke;
}
.center .cloth {
  height: 150px;
  width: 150px;
}
.help-line h1 {
  font-size: 30px;
  font-weight: 700;
  color: red;
}

.center {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 80px;
}
.center img {
  margin-right: 100px;
}
.list-tag li {
  margin-right: 300px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

/*Help Line end here */

/* Get My Updates start here  */

.update {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 30px 20px;
}
.update h1 {
  font-size: 50px;
  margin-bottom: 25px;
}
.update p {
  font-size: 18px;
  opacity: 0.7;
}
.form {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 150px;
  background-color: bisque;
  margin-top: 40px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.btn-4 {
  height: 40px;
  width: 300px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}

.btn-3 {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(250, 11, 111);
  color: whitesmoke;
  border: 1px solid whitesmoke;
  cursor: pointer;
}
.btn-3:hover {
  background-color: rgb(255, 68, 0);
  font-size: 15px;
}

/* Get My Updates end here  */

/* Footer part start here */

.icon {
  background-color: #07010a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 50px;
}
.icon a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.icon a:hover {
  color: #fec53a;
  background: none;
  font-size: 24px;
}

.footer-bottom {
  width: 100%;
  height: 100px;
  background-color: #07010a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom span {
  color: #fec53a;
}

/* footer part end here */
