* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannar {
  background-color: #f1f3f4;
}

/* Header part start here  */

.bannar-header {
  background-image: url(cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  opacity: 0.9;
}
.bannar-head {
  text-align: center;
  padding-top: 90px;
}
.bannar-head .bannar-tag {
  opacity: 1;
  font-size: 60px;
  color: whitesmoke;
  padding-top: 20px;
}
.bannar-head .peragraph {
  opacity: 1;
  color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.donate {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(250, 11, 111);
  opacity: 1;
  color: whitesmoke;
  font-weight: 600;
  font-size: 20px;
  width: 140px;
  margin: 0 auto;
  cursor: pointer;
}
.donate:hover {
  background-color: rgb(255, 68, 0);
  font-size: 19px;
  width: 138px;
}

/* Header part end here */

.bannar-name {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}
.bannar .line {
  width: 30%;
  margin: 0 auto;
  height: 5px;
  background-color: black;
  margin-top: 10px;
}

/* Donat part start here */

.body-part {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  background-color: aliceblue;
  box-shadow: 1px 0px 5px 2px rgb(120, 120, 120);
}
.peragraph2 {
  font-size: 18px;
  opacity: 0.7;
  width: 70%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
}
.list {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}
.list li {
  margin-top: 30px;
  font-size: 24px;
  padding: 30px;
  background-color: rgba(245, 245, 245, 0.781);
  box-shadow: 1px 0px 3px 2px rgb(120, 120, 120);
  cursor: pointer;
}
.list li:hover {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid red;
  background-color: rgb(255, 183, 183);
}
#list1 {
  margin-top: 30px;
  border: 1px solid red;
  font-size: 24px;
  padding: 30px;
  background-color: rgb(255, 183, 183);
  box-shadow: 1px 0px 3px 2px rgb(120, 120, 120);
  cursor: pointer;
}
#list1:hover {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid red;
  background-color: rgb(255, 183, 183);
}
.peragraph3 {
  margin-top: 40px;
  font-size: 20px;
  opacity: 0.4;
  margin-bottom: 10px;
}
.line2 {
  width: 65%;
  margin: 0 auto;
  height: 3px;
  background-color: black;
  margin-top: 10px;
  opacity: 0.5;
}
